.basketPageContainer {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse wrap;
    align-content: flex-start;
}

.basketContainer {
    background-color: #fffdfb;
    width: clamp(280px, 40vw, 50rem);
    width: 70vw;
    min-width: 350px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px;
    padding-bottom: 15px;
}

.subtotalContainer {
    background-color: #fffdfb;
    width: 70vw;
    min-width: 350px;
    margin: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: fit-content;
    align-self: flex-start;
}


.listInBasket {
    margin: auto;
}

.liContainer {
    display: flex;
    flex-flow: row;
    /* width: 390px; */
    width: 80%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #c4c9f1;
    padding: 9px;
    margin: auto;
    margin-bottom: 1rem;
}




.totalToPayHeaderContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}



/* ------------icon image for the item in basket */
.stoneImgContainer {
    margin-right: 10px;
}
.stoneImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: 0 -22px;
    border: 2px solid #acb1e5;
}
.stoneImg {
    width: 100px;
    height: 100px;
    object-position: 0 -32px;
}
/* ------------*/


.itemName {
    margin: 0;
    font-size: 1rem;
    font-family: 'Luminari-regular';
    font-weight: 700;
}


/* ---------- Container for buttons and quantity number------- */
.quantityContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #8d92bc;
    width: 100px;
    margin: auto;
    padding: 0.5rem;
}

/* ----------number in basket------- */
.quantity {
    color: #5e6498;
    font-family: 'Luminari-Regular';
    font-weight: 700;
    font-size: 1rem;
    width: 2rem;
    position: relative;
    left: 1px;
}

/* --------------- -/+ buttons for quantity------- */
.bothButtonsContainer {
    display: flex;
    flex-flow: row;
}
.buttonContainer {
    width: 1.5rem;
    height: 1.5rem;
    
}
.button {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b8bde7;
    border: 3px outset #c4c9f1;
    cursor: pointer;
    transition: all 300ms;
    position: relative;
    bottom: 0.5px;
    left: 1px;
    
}
.button:active {
    background-color: #8d92bc;
    width: 0.85rem;
    height: 0.85rem;
    position: relative;
    top: 0.25rem;
    left: 0.25rem;
    transition: all 200ms;
    
}
.buttonText {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}
/* --------------- */



.itemLi {
    display: flex;
    justify-content: center;
    flex-flow: column;
}




li:hover {
    background-color: inherit;
    color: inherit;
}

.quantHeader {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 17px;
}

.removeItemContainer{
    align-self: flex-start;
    width: 30px;
    height: 30px;

}

.removeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.1px;
    left: 0.1px;
    margin: 0;
    /* margin-left: 10px; */
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    border: 3px solid #bfc2de;
    background-color: #e3e6ff;
    border-radius: 100%;
    transition: all 200ms;
}

.removeItem:hover {
    color: #e3e6ff;
    background-color: #868bae;
}

.removeItem:active {
    height: 15px;
    width: 15px;
    top: 2.5px;
    left: 2.5px;
}


.pricesToPay {
    border: 3px solid #c4c9f1;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 3%;
}

.proceedToCheckout {
    /* margin-top: 10px;
    margin-bottom: 20px;
    color: #3a4078;
    border: 5px outset #c4c9f1;
    background-color: #d4d9ff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 5px;
    transition: all 520ms;
    font-size: 1rem; */
    position: relative;
    top: 1px;
    left: 1px;
    color: #3a4078;
    font-size: 1.1rem;
    font-weight: 700;
    border: 5px outset #c4c9f1;
    border-radius: 5px;
    background-color: #d4d9ff;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    transition: all 200ms;

}

.proceedToCheckout:hover {
    /* color: #f5f6ff;
    background-color: #a0a6d4;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2%; */
    color: #f5f6ff;
    background-color: #8991cb;
    border: 5px outset #aeb3df;
    padding: 5px;
}

.bigMistakeContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.bigMistake{
    font-size: 1.5rem;
    font-family: 'Luminari-regular';
    font-weight: 700;
    color: #3a4078;
    margin: 1rem;
}

.goShoppingNow{
    width: 190px;

    position: relative;
    top: 1px;
    left: 1px;

    font-family: 'Luminari-regular';
    margin-top: 10px;
    margin-bottom: 20px;
    margin: auto;
    display: flex;
    align-content: center;
    color: #3a4078;
    font-size: 1.25rem;
    font-weight: 700;
    border: 5px outset #c4c9f1;
    border-radius: 5px;
    background-color: #d4d9ff;
    transition: all 300ms;
}

.goShoppingNow:hover {
    /* color: #f5f6ff;
    background-color: #a0a6d4;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2%; */
    color: #f5f6ff;
    background-color: #8991cb;
    border: 5px outset #aeb3df;
    padding: 5px;
}


.goShoppingNow p{
    margin: 0.1rem;
}
/* ------------------------------------------MEDIA QUERIES ------------------------------------------ */

@media (min-width: 350px){
    .liContainer{
        width: 300px;
    }
    .itemName {
        font-size: 1.35rem;
    }
}

@media (min-width: 550px){
    .basketContainer {
        width: 500px;
    }
    .subtotalContainer {
        width: 500px;
    }
    .liContainer{
        width: 400px;
    }
    .quantityContainer {
        width: 110px;
        height: 3rem;
    }
    .quantity{
        margin: 0.2rem;
        width: 2rem;
        font-size: 1.25rem;
        left: 0;
    }
    .buttonContainer{
        width: 2.5rem;
        height: 2.5rem; 
    }
    .button {
        width: 2rem;
        height: 2rem;
        top: 1px;
        border: 3px outset #c4c9f1;
        transition: all 300ms;
    }
    .button:active {
        width: 1.5rem;
        height: 1.5rem;
        top: 0.29rem;
        border: 3px outset #c4c9f1;
        transition: all 300ms;
    }
}


@media (min-width: 1000px) {
    .basketContainer {
        width: 700px;
    }
    .subtotalContainer {
        width: 700px;
    }
    .liContainer {
        width: 600px;
        height: fit-content;
    }
    .stoneImgContainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
    }
    .stoneImg {
        width: 150px;
        height: 150px;
        object-position: 0 -32px;
    }
    .itemName {
        font-size: 2rem;
    }
}
