

/* ------------------------MENU------------------------ */

.bergMenuContainer {
    background-color: #8991c2;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 10;
    animation: smoothBergMenu 1s ease-in-out ;
    transition: all 200ms ;
}
@keyframes smoothBergMenu {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

/* This if for the dropdown of products, 
list of the different flavours */
.dropdownMenuContainer{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

.navItem{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 3rem;
}

.activeNav{
    font-size: 1.95rem;
    font-weight: 700;
}