
.homeContainer{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 90vh;
}

.button {
    background-color: #848abc;
    border: 5px outset #bbc1ec;
    font-size: 1rem;
    margin: 3%;
    height: 50px;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    transition: all 200ms;
    text-decoration: none;
}

.button:hover {
    background-color: #aaaed3;
}

.pText{
    margin-top: 2rem;
    font-size: 1rem;
}

