
.homeContainer{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 90vh;
}

.button {
    background-color: #9297c6;
    border: 5px outset #bbc1ec;
    font-size: 1rem;
    height: 40px;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    transition: all 200ms;
    text-decoration: none;
    font-weight: 700;
}

.button:hover {
    background-color: #aaaed3;
}

.pText{
    margin-top: 2rem;
    font-size: 1rem;
}

