
.iconContainer{
    position: relative;
    bottom: 30px;
    left: 65px;
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    width: fit-content;
    height: 20px;
}

.icon {
    text-align: center;
    position: relative;
    bottom: 14px;
    /* left: 7.5px; */
    font-size: 14px;
    font-weight: 700px;
    margin-left: 7px;
    margin-right: 7px;
}