.infoContainer{
    border: 3px outset #a4abe0;
    border-radius: 30px;
    background-color: hsl(231, 100%, 92%);
    margin: auto;
    /* margin-top: 3%; */
    margin-bottom: 1%;
    padding: 2px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: clamp( 150px, 70%, 700px);
    font-size: 15px;
    transition: all;

}


.infoHeaders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.infoIconContainer{
    display: flex;
    margin: 0;
    margin-left: 10px;
}

.info{
    /* width: 100%; */
}