.wholePageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 2
    00ms;
}

.visible{
    visibility: visible ;
}
.hidden{
    visibility: hidden ;
}

.popUpContainer {
    transition: all 200ms;
    width: 30vw;
    height: 20vh;
    position: fixed;
    top: 30vh;
    right: 35vw;
    box-shadow: 0px 0px 20px 20px #949ac6; /*any color you want*/
    background-color: #dbdef0;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}

.message{
    justify-content: center;
    margin: auto;
}

.xBox {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #949ac6;
    background-color: #b8bde7;
    border: 5px outset #c4c9f1;
    top: 10px;
    right: 10px;
    z-index: 5;
    cursor: pointer;
}

.xBox:active {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #8089cb;
    top: 15px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    transition: all 100ms;
}

.x{
    margin-top: 10px;
    margin-bottom: 2px;
    /* font-family: 'Luminari-Regular'; */
    color: #f1ede9;
    font-weight: 700;
}


/* 
.wholePageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 2
    00ms;
}

.visible{
    visibility: visible ;
}
.hidden{
    visibility: hidden ;
}

.popUpContainer {
    transition: all 200ms;
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    right: 15vw;
    box-shadow: 0px 0px 30px 30px #949ac6; 
    background-color: #f1ede9;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}

.xBox {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #949ac6;
    top: 10px;
    right: 10px;
    z-index: 5;
    cursor: pointer;
}

.xBox:active {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #8089cb;
    top: 15px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    transition: all 100ms;
}

.x{
    margin-top: 10px;
    margin-bottom: 2px;
    color: #f1ede9;
    font-weight: 700;
} */