.wholePageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 100ms;
    background-color: #eaedff36;

}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.popUpContainer {
    width: 250px;
    position: fixed;
    margin: 12px;
    top: 20vh;
    position: sticky;
    margin: auto;
    box-shadow: 12px 12px 2px 1px #6e75aeb9;
    border: 3px solid #bdc3f0;
    background-color: #949ac6;
    z-index: 3;
    display: flex;
    flex-flow: column-reverse;
    justify-content: flex-end;
    border-radius: 25px;
    transition: all 100ms;
}

.message {
    justify-content: center;
    margin: auto;
    font-size: 1.25rem;
    background-color: #e1e4f6;
    border: 3px solid #8089cb;
    border: 3px solid #fdfdff;
    border-radius: 10px;
    position: relative;
    bottom: 1px;
    margin: 10px;
    padding: 5px;
    color: #2f345a;
    color: #7178ab;
}

.xBox {
    position: relative;
    top: 0.1px;
    left: 180px;
    width: 35px;
    height: 35px;
    background-color: #8089cb;
    background-color: #cdd1ef;
    border: 5px outset #fdfdff;
    z-index: 5;
    cursor: pointer;
    margin-top: 10px;
    transition: all 100ms;
}

.xBox:active {
    top: 2px;
    left: 182px;
    width: 30px;
    height: 30px;
    background-color: #8089cb;
}

.x {
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    /* font-family: 'Luminari-Regular'; */
    color: #ffffff;
    font-weight: 700;
    font-size: 1.25rem;
    transition: all 100ms;

}

.x:active {
    font-size: 1rem;

}

/* ------------------------ media queries ------------------- */

@media (min-width: 290px) {
    .popUpContainer {
        width: 250px;
        margin: 12px;
        position: sticky;
        margin: auto;
        top: 20vh;
        left: 9.5vw;
        right: 10vw;
    }
}


@media (min-width: 700px) {
    .popUpContainer {
        width: 250px;
        /* position: fixed;
        top: 30vh;
        right: 35vw; */
        box-shadow: 12px 12px 2px 1px #6e75aeb9;
        border: 3px solid #bdc3f0;
        background-color: #949ac6;
        z-index: 3;
        display: flex;
        flex-flow: column-reverse;
        justify-content: flex-end;
        border-radius: 25px;
        transition: all 100ms;
    }
}


